
VITE_SUPABASE_URL=https://zxdtmbbowcvndprbdcyc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppYWpkb3J1bGRrZnR4bGZ5emh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NDc3MjIsImV4cCI6MjA5MDAyMzcyMn0.pKUQZopC1Qr-ssxviVp5LAoyhBnHtDoz_CyF02_TdmU
